@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face{
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}
*{
    margin: 0px;
    padding: 0px;
    
}
.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*
#1142F5
#3051CA
#4055A0
#434E75
#373B4B
#2E2F33
*/
:root{
    --cor0:#1142F5;
    --cor1:#3051CA;
    --cor2:#4055A0;
    --cor3:#434e75b2;
    --cor4:#373B4B;
    --cor5:#2E2F33;
    --cor6:#3d56a057;
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --font-destaque:'Bebas Neue', cursive;
    --font-android:'Android', cursive;

}

body{
    background-color: var(--cor6);
    font-family: var(--fonte-padrao);
}
a.externo::after{
    content: '\1F517';
}
header{
    background-image: linear-gradient(to bottom, var(--cor1),var(--cor4));
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1{
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 10px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.37);
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10-x;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.26);
}
nav{
    background-color: var(--cor4);
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.247);
}
nav > a{
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}
nav >a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 5px;
    transition-duration: .3s;
}
main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    background-color: white;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.315);
    
   
    
}
div.video{
    background-color: var(--cor2);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
div.video > iframe{
 position: absolute;
 top: 5%;
 left: 5%;
 width: 90%;
 height: 90%;
}
main h1{
    font-family: var(--font-android);
     color: var(--cor5);
}
main h2{
    font-family: var(--font-android);
    color: var(--cor5);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor6), transparent);
    text-indent: 10px;
}
main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 10px;
    font-size: 1em;
    line-height: 2em;
}
main strong{
    color: var(--cor5);
    font-weight: bold;   
} main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor6);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor3);
}
aside{
    background-color: var(--cor3);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.479);
}
aside > h3{
    background-color: var(--cor2);
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
aside ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
} 
footer > p > a{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
footer a:hover{
    color: var(--cor1);
    text-decoration: underline;
}
